@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
body .container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(192, 136, 33, 0.4);
  width: 200vw;
  height: 100vh;
}

.about-container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  left: 100vw;
  width: 100vw;
  height: 85vh;
  transition: left 1.5s;
  overflow-y: scroll;
}

.text-presentation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.text-presentation p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 54, 79, 0.6);
  width: 60%;
  height: 50vh;
  border-radius: 50%;
  text-align: center;
  color: #EDFBFF;
  font-family: "Noto Sans";
  font-style: normal;
  padding: 5px;
  margin-right: 5%;
}

.text-presentation img {
  border-radius: 50%;
}

.text-exeperience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  font-family: "Noto Sans";
  font-style: normal;
  color: #EDFBFF;
  background-color: rgba(27, 54, 79, 0.6);
  margin: 5%;
  padding: 5%;
  border-radius: 20px;
  line-height: 33px;
}

#separator {
  background-color: #EDFBFF;
  width: 95%;
  height: 4px;
  margin: 20px;
}

.text-exeperience h4 {
  color: #009AFA;
}/*# sourceMappingURL=about.css.map */