@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
body .container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(192, 136, 33, 0.4);
  width: 200vw;
  height: 100vh;
}

.home-container {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 100vw;
  transition: left 1.5s;
}
.home-container h1 {
  font-family: "Bona Nova";
  font-style: normal;
  font-weight: 700;
  color: #FBFCFC;
  font-size: 5vw;
}
.home-container h2 {
  font-family: "Bona Nova";
  font-style: normal;
  font-weight: 700;
  color: #FBFCFC;
  font-size: 2vw;
}/*# sourceMappingURL=home.css.map */