@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
body .container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(192, 136, 33, 0.4);
  width: 200vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17202A;
  margin: 0;
  padding: 0;
  height: 15vh;
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 60%;
  margin: 0;
}

nav li {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  list-style: none;
  cursor: pointer;
}

nav span {
  position: absolute;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  background-color: #BE8620;
  transition: all 150ms ease;
}

nav h3 {
  padding: 0;
  color: #EDFBFF;
  font-family: "Noto Sans";
  font-style: normal;
  font-size: medium;
}

nav a {
  text-decoration: none;
}

.active {
  width: 100%;
  padding: 0 20px;
}

.inactive {
  width: 0;
  padding: 0;
}/*# sourceMappingURL=navbar.css.map */