@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}
body .container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(192, 136, 33, 0.4);
  width: 200vw;
  height: 100vh;
}

.portfolio-container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  left: 100vw;
  width: 100vw;
  height: 85vh;
  transition: left 1.5s;
  overflow-y: scroll;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 40vh;
  margin-top: 5%;
}
.carousel-container div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 60%;
  overflow: hidden;
  text-align: center;
}
.carousel-container div img {
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 1.5s;
  width: 100%;
}
.carousel-container div #carousel-1 {
  left: 0;
}
.carousel-container div #carousel-2 {
  left: 100%;
}
.carousel-container div #carousel-3 {
  left: 200%;
}
.carousel-container div #carousel-4 {
  left: 300%;
}
.carousel-container .arrow {
  border: solid #EDFBFF;
  border-width: 0 5px 5px 0;
  border-radius: 5px;
  padding: 30px;
}
.carousel-container .arrow:hover {
  cursor: pointer;
}
.carousel-container .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.carousel-container .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 5%;
  margin: 5%;
  background-color: rgba(27, 54, 79, 0.6);
  border-radius: 20px;
  overflow: hidden;
}
.description h2 {
  text-align: center;
  color: #EDFBFF;
  font-family: "Noto Sans";
  font-style: normal;
}
.description p {
  text-align: center;
  color: #EDFBFF;
  font-family: "Noto Sans";
  font-style: normal;
}
.description div {
  position: absolute;
  transition: left 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description #desc-1 {
  left: 0;
}
.description #desc-2 {
  left: 100%;
}
.description #desc-3 {
  left: 200%;
}
.description #desc-4 {
  left: 300%;
}/*# sourceMappingURL=portfolio.css.map */