@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$dark : #17202A;
$orange : #BE8620;
$white : #EDFBFF;
$blue : #009AFA;


body{
    margin: 0;
    padding: 0;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;

    .container{
        position: relative;
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: rgba(192, 136, 33, 0.4);
        width: 200vw;
        height: 100vh;
    }
    

}





@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin font-regular{
    font-family: 'Noto Sans';
    font-style: normal;
}