@import './_common.scss';

.about-container{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    left: 100vw;
    width: 100vw;
    height: 85vh;
    transition: left 1.5s;
    overflow-y: scroll;
}

.text-presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%

}

.text-presentation p{
    @include flex-center;
    background-color: rgba(27, 54, 79, 0.6);
    width: 60%;
    height: 50vh;
    border-radius: 50%;
    text-align: center;
    color: $white;
    @include font-regular;
    padding: 5px;
    margin-right: 5%;
}

.text-presentation img{
    border-radius: 50%;
}


.text-exeperience{
    @include flex-center;
    flex-direction: column;
    width: 60%;
    font-family: 'Noto Sans';
    font-style: normal;
    color: $white;
    background-color: rgba(27, 54, 79, 0.6);
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    line-height: 33px;

}


#separator{
    background-color: $white;
    width: 95%;
    height: 4px;
    margin: 20px;
}

.text-exeperience h4{
    color: #009AFA;
}