@import './_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


.home-container{
    position: absolute;
    left: 0;
    @include flex-center;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
    transition: left 1.5s;
    // background-color: rgba(190, 134, 32, 0.5);

    h1{
        font-family: 'Bona Nova';
        font-style: normal;
        font-weight: 700;
        color: #FBFCFC;
        font-size: 5vw;
    }
    
    h2{
        font-family: 'Bona Nova';
        font-style: normal;
        font-weight: 700;
        color: #FBFCFC;
        font-size: 2vw;
    
    }
    
}


